# Created by https://www.gitignore.io

### C ###
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Compressed files
*.starch

# Binary files
*.pdf

# Intermediate files
test/mutual_jaccard_split.bs
test/mutual_jaccard_split.bs/*
third-party/libmicrohttpd

# OS X garbage
.DS_Store

# NFS
.nfs*